body {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial;
    font-size: 14px;
}

.resume-top::first-line {

    font-weight: bold;
}

.resume-head {
    text-align: center;
    white-space: pre-line;
    margin-bottom: 40px;
}

.section-head {
    margin-top: 18px;
    text-align: center;
    font-weight: bold;
    text-decoration-line: underline;
}

.section-content{
    margin-left: 20%;
    margin-right: 10%;
    white-space: pre-line;
}

.section-paragraph {
    line-height: 1.5;
}

